body{
    padding: 50px 0;
    background:grey
}

#main{
    width: 100%;
    text-align: center
}
 #modes button {
    display: inline-block;
    background: black;
    color:white;
    width: 30%;
    height: 40px;
    font-size: 20px;
    border-radius: 50px
}
#levels button {
    display: inline-block;
    background: black;
    color:white;
    width: 20%;
    height: 40px;
    font-size: 20px;
    border-radius: 50px
}
#main img{
    border:1px  solid red;
    border-radius: 40px;
}

#levels{
    display: none;
}
 #board{
     text-align: center;
     display:none;
     align-items: center;
     max-height: 400px;
     width: 100%;
 }
 #board > div{
     display:inline-block;
     
 }
 #board  img{
     width: 30px;
     height: 30px;
 }
 h4{
     margin:0
 }
 #canvas{
     border:2px solid black
 }

 .powers,.powers2{
     height: 300px;
     
 }

 .powers,.powers2 > *{
     margin-bottom: 5px;
     
 }